<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/navbar'); %>
    <%- include('./partials/messages'); %>

    <h1 class="text-center py-4">Welcome to Kart!</h1>

    <div class="container">
      <div class="jumbotron container text-center">
        <p class="lead">
          Shopping and need to keep items updated in real-time?
          Create an account, make a list, add your friends and keep your
          shopping list updated in real-time with Kart!
        </p>
        <a class="btn btn-success btn-lg" href="/users/sign_up" role="button">
          Sign Up
        </a>
      </div>
    </div>

    <%- include('./partials/baseScripts'); %>
  </body>
</html>
