<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/navbar'); %>
    <%- include('./partials/messages'); %>

    <h2 class="text-center">Welcome to Kart!</h2>

    <%- include('./partials/baseScripts'); %>
  </body>
</html>
